html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    color: #EEEEEE;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1em;
}

.backgroundVideo {
    z-index: -10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.logo {
    height: 12dvb;
    margin-left: 1em;
}

.scrollContainer {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    margin: 0;
    padding: 0;
}

.landingPageContainer {
    scroll-snap-align: center;
    display: flex;
    top: 50%;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.floatingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2em;
    border: solid #55AAEE 1px;
    box-shadow: rgba(28, 28, 28, 0.4) 5px 5px 12px;
    backdrop-filter: blur(16px);
    background: rgba(0, 80, 140, 0.6);
}

.pageIconContainer {
    display: flex;
    flex-direction: row;
    pointer-events: none;
}

.pageIconContainer > a {
    color: #EEEEEE;
    text-decoration: none;
    pointer-events: auto;
    width: 5vw;
    height: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 3vh;
    margin: 1vw;
    border: solid #55AAEE 1px;
    border-radius: 6px;
    box-shadow: rgba(28, 28, 28, 0.4) 5px 5px 12px;
    backdrop-filter: blur(16px);
    background: rgba(0, 80, 140, 0.6);
    transform: scale(100%);
    transition: transform .2s, background .2s;
}

.pageIconContainer > a:hover {
    transform: scale(110%);
    transition: transform .2s, background .2s;
    background: linear-gradient(90deg, rgba(0,151,255,1.0) 0%, rgba(0,80,176,1.0) 100%);
}

.pageIconContainer:hover > a:not(:hover) {
    transform: scale(90%);
    transition: transform .2s, background .2s;
    background: rgba(0, 80, 140, 1.0);
}

.backgroundContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 2em;
    border: none;
    backdrop-filter: blur(0px);
    background: rgba(0, 80, 120, 0.0);
    transition: backdrop-filter 0.125s, background-color 0.125s;
}

.backgroundContainer {
    backdrop-filter: blur(16px);
    background: rgba(0, 80, 120, 0.75);
    transition: backdrop-filter 0.5s, background-color 0.5s;
}

.backgroundContainer > div {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    scroll-snap-align: center;
}

.titleContainer {
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    justify-content: center;
}

.title {
    margin: 0;
    padding: 0;
    font-size: 3em;
}